.fullProduct{
    display: flex;
    justify-content: space-between;
    padding:20px 5%;
    background-color: #fff;
    min-height: 100vh;
}
.fullProduct__images{
    flex:0.4;
}
.fullProduct__images{
    display: flex;
    margin-right: 20px;
    justify-content: flex-start;

}
.fullProduct__purchase,.fullProduct__info{
    flex:0.3;
}
.fullProduct__images > ul > li{
    height: 52px;
    box-sizing: border-box;
   border:2px solid #fff;
}
.fullProduct__images > ul > li > img{
    height: 40px;
    width: 40px;
    margin-bottom: 8px;
    padding-top: 6px;
    padding-bottom: 6px;

}
.fullProduct__images > ul > li:hover{
border-color: orangered;
}
.fullProduct__images > ul{
    list-style: none;

}
.fullProduct__mainImage{
    width:400px;
    height: 400px;
    object-fit: contain;
    margin-left: 10px;

}
.fullProduct__purchaseBtn {
    background-color: #f0c14b;
    border:1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color:#111;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding:3px;
    align-items: center;
    min-width: 170px;
    border-radius: 5px;


}
.fullProduct__purchaseBtn > span{

    flex-grow: 1;
}
.open{
    display: block;

}
.close{
    display: none;
}
.modal__content{
    margin-left: 2.5%;
    margin-top:3.5%;
    position: relative;
    opacity: 1;
    z-index: 1000;
    width:95%;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    height: 80%;
    padding-top:40px;
    padding-bottom:40px;
    box-sizing: border-box;
}
.modal__description{
    height: 400px;
    width: 30%;
    color:#333;
    flex:0.3;



}
.modal__description > ul {
    list-style: none;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    width: 350px;
}
.modal__close{
    color:#333;
    text-decoration: none;
    position: absolute;
    right: 0;
    top:0;
    padding: 10px 15px;
}
.modal__close:hover{
    color: red;
}

.modal__mainImage{
    height: 100%;
    width: 800px;
    padding: 0;
    margin: 0;
    object-fit: contain;
}
.modal__descriptionImage{
    height: 60px;
    width:60px;
    border:2px solid lightgray;
    margin-left: 15px;

}
.active{
    border-color: #ff8000;
}